
<div class="jumbotron">
  <h1 class="display-4"><%= @patient.first_name %> <%= @patient.last_name %></h1>
  <p class="lead">Email: <%= @patient.email %>, Phone: <%= @patient.phone %>, Doses: <%= @patient.vaccine_amount %>, Vaccine Type: <%= @patient.vaccine_type %>, Location: <%= @patient.vaccine_location %></p>
 <br/>
  <%= link_to 'Edit', edit_patient_path(@patient), class:"btn btn-dark", id:"Edit" %> 
  <%= link_to 'Delete', @patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
  <%= link_to 'Back', patients_path, class:"btn btn-dark"%>
</div>
